<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.MajorMapper">

    <insert id="insertMajor" parameterType="major">
        INSERT INTO t_major
        VALUES (default ,#{majorNum},#{majorName},#{collegeNum})
    </insert>

    <select id="selectMajorByCollegeName" resultType="major">
        SELECT * FROM t_major
        WHERE college_num =
            <choose>
                <when test=" collegeName != null and collegeName != '' ">
                    (SELECT college_num FROM t_college WHERE college_name = #{collegeName})
                </when>
                <otherwise>
                    #{collegeNum}
                </otherwise>

            </choose>
    </select>

    <select id="selectMajorIdByName" resultType="integer">
        SELECT major_id FROM t_major WHERE major_name = #{0}
    </select>
</mapper>