<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 使用jdbc的getGeneratedKeys,获取自增主键k值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 分页工具的配置 -->
    <plugins>
        <!--PageInterceptor放在了com.zih.utils包下-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- config params as the following -->
            <!--<!–分页参数合理化 –> -->
            <property name="reasonable" value="true" />
        </plugin>
    </plugins>

</configuration>